<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crop booster</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="./public/assets/GSFS LOGO.png">
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark px-4 sticky-top">
        <div class="container">
          <a class="navbar-brand" href="#">
              Crop Booster
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="recommender.html">Try Free</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="jumbotron container-fluid py-4 px-4">
        <h1 class="display-4 text-center">Project Crop Booster</h1>
        <p class="lead text-center">Get the best crops for your type of land and increase income!</p>
        <hr class="my-4">
        <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="recommender.html" role="button">Try it Free</a>
        </p>
      </div>

      <div class="container py-4 px-4 sec1">
          <div class="row">
            <div class="col-md-6 py-2 px-4">
                <div class="fw-bold fs-1">Why help farmers?</div><br/>
                <p>Save Soil is a global movement launched by Sadhguru, to address the soil crisis by bringing together people from around the world to stand up for Soil Health. We have thought of co-working solution to be added to the movement which will help farmers increase their income even further.</p>
                <a href="https://www.consciousplanet.org/" class="btn btn-success btn-lg mt-2">Visit Official Site</a>
            </div>
            <div class="col-md-6 text-center py-2 px-4">
                <iframe class="img-fluid iframe" src="https://www.youtube.com/embed/SCHqnkR7600" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
      </div>

      <div class="container py-4 px-4 sec1">
        <div class="row">
          <div class="col-md-6 text-center py-2 px-4">
            <iframe class="img-fluid iframe" src="https://www.youtube.com/embed/3IJmkfrV2KM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6 py-2 px-4">
            <div class="fw-bold fs-1">How it helps?</div><br/>
            <p>We have thought of a co-working step to the save soil solution, to be added to the movement which will help farmers increase their income even further.</p>
            <a href="/recommender" class="btn btn-primary btn-lg mt-2">Try it Free</a>
        </div>
        </div>
    </div>

      <div class="container py-4 px-4 sec2">
          <div>
            <div class="fw-bold fs-1 text-center text-success">Additional GSFS Detection</div><br/>
            <img src="./public/assets/GSFS scale.png" class="img-fluid fullwidthimg" alt="GSFS Scale">
            <p class="fs-5 py-3">Description : In this method, soil has been broken down into required nutrients and then been transformed into a scale based on fertility of the soil. This is an endeavor to develop a common scale for farmers all around the world, to detect soil fertility and hence take informed decisions for their land.</p>
        </div>
      </div>

      <div class="container-fluid py-3 px-4 footer bg-primary text-light text-center">
        All copyrights reserved Project Crop Boost 2022
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>